<!DOCTYPE html>
<html>
  <head>
    <title>ApppFigueroa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<header>
  <nav class="be-red white">
    <ul>
      <li class="col-md">
        CLIENTES
      </li>
      
      <li class="col-md">
        PRODUCTOS
      </li>
      
      <li class="col-md">
        ORDENES
      </li>
      
      <li class="col-md">
        DETALLE
      </li>
    </ul>
  </nav>
</header>
  <body>
    <%= yield %>
  </body>
</html>
